<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @dish.name %></dd>

      <dt>Cuisine</dt>
      <dd>
        <% if @dish.cuisine.present? %>
          <a href="/cuisines/<%= @dish.cuisine_id %>">
            <%= @dish.cuisine.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dish has many bookmarks -->

<div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          You loved the <%=@dish.name%> at...

            <div class="badge badge-primary float-right">
              <%=@dish.cuisine%>
            </div>
        </h4>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <form action="/create_bookmark" class="form-inline float-left" method="post">
            <input type="hidden" name="dish_id" value="<%=@dish.id%>">
            <input type="hidden" name="user_id" value="<%=current_user.id%>">

            <!-- Label and input for venue_id -->
            <div class="form-group mr-sm-1">
              <label for="venue_id" class="control-label sr-only">
                Venue
              </label>

             <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>

            </div>

            <button class="btn btn-primary btn">
              <i class="fa fa-heart"></i>
            </button>
          </form>
        </li>

<% @dish.bookmarks.each do |venue| %>
 <%if venue.user_id == current_user.id%>
          <li class="list-group-item">
            <p>
              <a href="/venues/<%=venue.venue_id%>">
               <%=venue.venue.name%>
              </a>

                <a href="/bookmarks/<%=venue.id%>/edit">
                  <i class="fa fa-fw fa-edit"></i>
                </a>

                <a href="/delete_bookmark/<%=venue.id%>">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
            </p>
          </li>
          <%else%>
          <p>
            
          </p>
          <%end%>
      </ul>

      <div class="card-footer text-center">
        <a href="/dishes" class="btn btn-block btn-secondary">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>

<%end%>